.App {
  text-align: center;
}
.Navbar{
  color: wheat !important;
}
.app-input{
  width: 150px !important;
}
.canvas{
  height: 590px;
  width: 100%;
  background-color: wheat;
}
.buton{
  height: 40px;
  width: 40px;
  border: 1px solid brown;
  background-color: cyan;
  border-radius: 50%;
  text-align: center;
}
.buton:hover{
  border: 3px solid brown;
}
